@media all                       {html {font-size: 22px;}}
@media all and (max-width:1000px){html {font-size: 22px;}}
@media all and (max-width: 960px){html {font-size: 21px;}}
@media all and (max-width: 920px){html {font-size: 20px;}}
@media all and (max-width: 880px){html {font-size: 19px;}}
@media all and (max-width: 840px){html {font-size: 18px;}}
@media all and (max-width: 800px){html {font-size: 17px;}}
@media all and (max-width: 760px){html {font-size: 16px;}}
@media all and (max-width: 720px){html {font-size: 15px;}}
@media all and (max-width: 680px){html {font-size: 14px;}}
@media all and (max-width: 640px){html {font-size: 13px;}}
@media all and (max-width: 600px){html {font-size: 12px;}}
@media all and (max-width: 560px){html {font-size: 11px;}}
@media all and (max-width: 520px){html {font-size: 10px;}}
body {
  width: 800px;
  margin: 0 auto;
}
body > * {
  font-size: 100%;
  margin-left:  2.5rem;
  margin-right: 2.5rem;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin: 20px;
}
table th {
  font-size: 100%;
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
table td {
  color: #669;
  font-size: 80%;
  padding: 9px 8px 0;
}
h1 {
  font-family: "Helvetica";
  text-transform: uppercase;
  border-top: 1px solid #666;
  padding-top: 0em;
  font-size: 170%;
}
pre {
  background-color: #fbf1d2;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
td code {
	font-size: 80%;
}
pre code {
  font-size: 60%;
  font-weight: lighter;
  width: 100%;
}
