@media screen and (min-width: 76.25em) {
  .md-nav {
    transition: unset !important;
  }
}

.no-header-table + * table:not([class]) thead {
  display: none;
}

.no-header-table + * table:not([class]) tr:first-child td {
  border-top: none;
}