[submodule "vendor/penumbra"]
	path = vendor/penumbra
	url = https://github.com/bigladder/penumbra.git
[submodule "vendor/HPWHsim"]
	path = vendor/HPWHsim
	url = https://github.com/EcotopeResearch/HPWHsim.git
[submodule "vendor/kiva"]
	path = vendor/kiva
	url = https://github.com/bigladder/kiva.git
[submodule "vendor/toolkit-205"]
	path = vendor/toolkit-205
	url = https://github.com/open205/toolkit-205
[submodule "vendor/btwxt"]
	path = vendor/btwxt
	url = https://github.com/bigladder/btwxt.git
