[submodule "vendor/penumbra"]
	path = vendor/penumbra
	url = https://github.com/bigladder/penumbra.git
[submodule "vendor/HPWHsim"]
	path = vendor/HPWHsim
	url = https://github.com/EcotopeResearch/HPWHsim.git
[submodule "vendor/kiva"]
	path = vendor/kiva
	url = https://github.com/bigladder/kiva.git
