[submodule "vendor/penumbra"]
	path = vendor/penumbra
	url = https://github.com/bigladder/penumbra.git
[submodule "vendor/HPWHsim"]
	path = vendor/HPWHsim
	url = https://github.com/bigladder/HPWHsim.git
[submodule "vendor/kiva"]
	path = vendor/kiva
	url = https://github.com/bigladder/kiva.git
[submodule "vendor/btwxt"]
	path = vendor/btwxt
	url = https://github.com/bigladder/btwxt.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
