//==========================================================================
// cse.rc -- Hand editted resources for Windows build of CSE
//==========================================================================

#ifdef APSTUDIO_INVOKED		// hand-maintained: APPSTUDIO can't do #defines
  #error This file is not editable by Visual C++ !!
#endif

#include "csevrsn.h"
#include <winver.h>			// for VERSIONINFO defns: VS_FF etc

VS_VERSION_INFO VERSIONINFO

 FILEVERSION CSEVRSN_MAJOR, CSEVRSN_MINOR, CSEVRSN_PATCH, 0
 PRODUCTVERSION CSEVRSN_MAJOR, CSEVRSN_MINOR, CSEVRSN_PATCH, 0

 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK

 FILEFLAGS
#if defined( _DEBUG)
	VS_FF_DEBUG
#else
	0
#endif

 FILEOS VOS_NT_WINDOWS32		// target OS: 32-bit windows

 FILETYPE
#if defined( DLL) || defined( CSE_DLL)
	VFT_DLL				// this is a DLL
#else
	VFT_APP
#endif
 FILESUBTYPE 0					// unused
 BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252	// identify StringFileInfo
											//   lang/charset pairs
											//   US English + Windows Multilingual
    END
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"		// Lang = US English
								// Charset = Windows Multilingual (1252)
        BEGIN
            VALUE "InternalName", "CSE"
			VALUE "OriginalFilename",
				#if defined( _DEBUG)
					"CSEd"
				#else
					"CSE"
				#endif
				#if defined( DLL) || defined( CSE_DLL)
					".dll"
				#else
					".exe"
				#endif

            VALUE "ProductName", "CSE"
            VALUE "ProductVersion",	CSEVRSN_TEXT
        END
    END
END

// cse.rc end
