name: Release

on:
  release:
    types:
      - created

jobs:
  release-cse:
    name: Deploy CSE release
    runs-on: windows-2022
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Get branch name
        uses: tj-actions/branch-names@v5
        id: branch-name
      - name: Save branch name
        run: echo "CI_GIT_BRANCH=${{steps.branch-name.outputs.current_branch}}" >> $GITHUB_ENV
      - name: Build
        shell: cmd
        run: build.bat
      - name: Upload executable to release assets
        uses: AButler/upload-release-assets@v2.0
        with:
          files: msvc/CSE.exe
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install pandoc
        run: 'cinst -y pandoc --version=1.17.2 --ia=ALLUSERS=1'
        shell: bash
      - name: Add pandoc to path
        run: echo "C:\Program Files (x86)\Pandoc" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Add MSVC developer commands to PATH
        uses: ilammy/msvc-dev-cmd@v1
      - name: Build docs
        run: rake
        working-directory: doc
      - name: Update gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/output
          user_name: 'cse-ci'
          user_email: 'ci@cse.org'
          full_commit_message: "Update docs for ${{ github.event.release.tag_name }}."
