name: Release

on: 
  release:
    types:
      - created

jobs:
  build-cse:
    name: Build CSE executable
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Build
        shell: cmd
        run: build.bat no-pause
      - name: Upload executable to release assets
        uses: AButler/upload-release-assets@v2.0
        with:
          files: msvc/CSE.exe
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install pandoc
        run: 'cinst -y pandoc --version=1.17.2 --ia=ALLUSERS=1'
      - name: Add pandoc to path
        run: echo "::add-path::C:\Program Files (x86)\Pandoc"
      - name: Setup LaTeX
        uses: r-lib/actions/setup-tinytex@v1
      - name: Add LaTeX packages
        run: tlmgr install mathspec fancyhdr
      - name: Add MSVC developer commands to PATH
        uses: ilammy/msvc-dev-cmd@v1
      - name: Build docs
        run: rake
        working-directory: doc
      - name: Update gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/output
          user_name: 'cse-ci'
          user_email: 'ci@cse.org'
          full_commit_message: "Update docs for ${{ github.events.release.tag_name }}."
